[submodule "SoulsFormats"]
	path = SoulsFormats
	url = https://github.com/kotn3l/SoulsFormats.git
[submodule "lib/SoulsFormats"]
	path = lib/SoulsFormats
	url = https://github.com/kotn3l/SoulsFormats.git
